****************************** BASE CODE ****************************************************

In [11]:
                        
filepath_string="after.txt"                                                        #specify file path
with open(filepath_string) as fp:
   lines=fp.readlines()
listToStr = ' '.join([str(elem) for elem in lines])                               # whole file is stored in one string, incase if you want to store the content line by line in each row, slight modification in code will do
import pyodbc
[x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]         # data base connection
conn_str = (r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=C:\Users\sairajes\Documents\Database1.accdb;')
                                                    
cnxn = pyodbc.connect(conn_str)
cursor = cnxn.cursor()
cursor.execute('select * from Table1')
print("*******existing data in database")                                      
for row in cursor.fetchall():
    print (row)
sql = "INSERT INTO Table1(filepath, filedata) VALUES (?,?)"                   #insertion
val = (filepath_string,listToStr )
cursor.execute(sql,val)   
cnxn.commit()                                                                #disconnecting the database


cnxn = pyodbc.connect(conn_str)                                              #connecting to data base and confirming insertion
cursor = cnxn.cursor()
cursor.execute('select * from Table1')
print("*******after inserting data in database")
for row in cursor.fetchall():
    print (row)
cnxn.commit()

*******existing data in database
(1, '<div>bbc.txt</div>', 'prepared')
(2, '3', '4')
(3, 'abc.txt', 'cdhsjkcsdb')
(4, 'John', 'Highway 21')
(5, 'abc.txt', 'cdhsjkcsdb')
(9, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(10, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(11, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(12, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
*******after inserting data in database
(1, '<div>bbc.txt</div>', 'prepared')
(2, '3', '4')
(3, 'abc.txt', 'cdhsjkcsdb')
(4, 'John', 'Highway 21')
(5, 'abc.txt', 'cdhsjkcsdb')
(9, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(10, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(11, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(12, 'after.txt', '                Numa node\n Numa node            0       1       2       3       4       5       6       7\n        0          79.8   118.0   128.6   133.1   224.5   232.1   223.2   224.3\n        1         116.8    80.8   134.0   127.0   234.7   241.7   232')
(13, 'after.txt', 'This is an inspiring story of a class 11 student from Puddukkottai in Tamil Nadu who braved all challenges with hard work, grit and determination to win a trip to NASA. Letâ€™s take a moment to appreciate K Jayalakshmi for scripting history as')

In [ ]:
****************command prompt code**************

In [ ]:
TextDataToDatabase(file_path):
    filepath_string=file_path                                                        #specify file path
    with open(filepath_string) as fp:
       lines=fp.readlines()
    listToStr = ' '.join([str(elem) for elem in lines])                               # whole file is stored in one string
    import pyodbc
    [x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]         # data base connection
    conn_str = (r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=C:\Users\sairajes\Documents\Database1.accdb;')

    cnxn = pyodbc.connect(conn_str)
    cursor = cnxn.cursor()
    cursor.execute('select * from Table1')
    print("*******existing data in database")                                      
    for row in cursor.fetchall():
        print (row)
    sql = "INSERT INTO Table1(filepath, filedata) VALUES (?,?)"                   #insertion
    val = (filepath_string,listToStr )
    cursor.execute(sql,val)   
    cnxn.commit()                                                                #disconnecting the database


    cnxn = pyodbc.connect(conn_str)                                              #connecting to data base and confirming insertion
    cursor = cnxn.cursor()
    cursor.execute('select * from Table1')
    print("*******after inserting data in database")
    for row in cursor.fetchall():
        print (row)
    cnxn.commit()

In [ ]:
#when you pass multiple text paths at a time on command prompt <ex:>python untitled.py file1.txt,file2.txt,file3.txt
import sys
import string

argument_li = []
commandlineArgs=sys.argv[1]
argument_li= commandlineArgs.split(',')

for item in argument_li:
    file_path=item
    TextDataToDatabase(file_path)